/*HEADER*/
body {
  /*min-width: 1040px;*/
  width:1040px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
  border: 1px solid #000;
}

/*это центровщик*/
.container {
	width: 1020px;
	margin: 0 auto;
}

/*для h2 и кнопки*/
.wraper {
	display: flex;
	justify-content: space-between;
}

.page-header {
  min-height: 490px;
  padding-top: 35px;
  background-image: url("img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header,
.page-footer {
  color: #c3c3c3;
  background-color: #363636;
}

.header-top {
	display: flex;
	align-items: center;
	margin-bottom: 125px;
}

.header-logo {
	width: 205px;
	height: 55px;
}

.header-top a {
	margin-left: auto;
}

.main-nav {
	display: flex;
	align-content: center;	
	
	margin: 0;
	padding: 0;
	
	width: 520px;
	margin-left: 125px;
	list-style: none;
}

.main-nav li {
	padding-right: 50px;
	text-transform: uppercase;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn {
  align-self: center;

  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
  word-wrap: break-word;
  text-align: center;
  font: inherit;

  border: 2px solid #a38b70;
  border-radius: 2px;
  padding: 10px;
  width: 146px;
}

.btn:hover {
  color: #8d745a;
  border-color: #8d745a;
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
  border-color: #8d745a;
}

.btn-quick-order {
  margin-top: 6px;
  border-color: #fff;
  color: #fff;
}

.btn-quick-order:hover {
  color: #404040;
  background-color: #fff;
  border-color: #fff;
}

.btn-quick-order:active {
  color: rgba(64, 64, 64, 0.3);
  background-color: #fff;
  border-color: #fff;
}

.promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  text-align: center; 
}

.promo a {
  color: #ffffff;
  text-decoration: none;
}

/*FEATURES*/

.features {
	padding-top: 50px;
	padding-bottom: 55px;
}

.features ul {
	display: flex;
	justify-content: center;

	list-style: none;
	margin: 0;
	padding: 0;  
}
.feature-item {
	margin: 0;
	padding: 0;

    padding-top: 90px;
    text-align: center;
    border-left: 1px solid #d9d9d9;
    width: 279px;
    padding-left: 30px;
    padding-right: 30px;
}

.feature-item:first-child {
  border-left: transparent;
}

.feature-choice {
  background: url("img/feature-1.png") top center no-repeat;
}

.feature-quality {
  background: url("img/feature-2.png") top center no-repeat;
}

.feature-safety {
  background: url("img/feature-3.png") top center no-repeat;
}

.feature-title {
	padding-bottom: 20px;

  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.features p, h2 {
	margin: 0;
	padding: 0;
}


/*REFERENCES*/

.cat-reference {
	padding-top: 70px;
	padding-bottom: 90px;
	
	background-color: #f2f2f2;
}

.wraper {
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 65px;
}

.section-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.reference-title-wraper:first-child {
	margin-bottom: 70px;
}

.cat-reference dl, dd, dt {
	margin: 0;
	padding: 0;
}

.cat-reference dt {
	margin-bottom: 10px;
}

.cat-reference dd img {
  border-radius: 5px;
  float: left;

}

.cat-reference p {
	margin: 0;
	padding: 0;

	padding-left: 130px;
	padding-right: 200px;
}

.reference-title {
  font-size: 24px;
  font-weight: bold;
}

.reference-source {
  color: #666666;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.reference-source a {
  color: #a38b70;
}

.reference-source a:hover {
  color: #8d745a;
}

.reference-source a:active {
  color: rgba(141, 116, 90, 0.3);
}



/*reviews*/
.reviews {
	padding-top: 70px;
	padding-bottom: 90px;
}

.reviews-list {
	display: flex;
	margin-bottom: ;
	
}

.review-item {
  border-left: 3px solid #a38b70;
	margin: 0;
	width: 410px;
	padding-left: 50px;
	padding-right: 100px;
}

.review-item p {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

.review-author {
  font-weight: bold;
  font-style: italic;
}

/*POPULAR AND PRICE*/

.popular-and-price {
	padding-top: 70px;
	padding-bottom: 90px;

  background-color: #f2f2f2;
}

.popular-items {
	display: flex;
	justify-content: space-between;

	margin-bottom: 50px;
}

.catalog-item h3 {
  font-size: 16px;
  color: #000000;
}

.price-list {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.price-list th {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.price-list td {
  border: 1px solid #d8d8d8;
}

.price-list th,
.price-list td {
  padding: 5px 10px;
}

.price-list .price-number {
  text-align: center;
}

.price-list .price-name {
  font-weight: bold;
  color: #000000;
}

.feedback {
	margin-top: 60px;
	margin-bottom: 70px;
}

.feedback-form {
	width: 630px;
  padding-right: 390px;
  background-image: url("img/write.jpg");
  background-repeat: no-repeat;
  background-position: 100% 40px;
}

.feedback-form-group {
  padding: 10px 0;
}

.feedback-form-group label {
  font-size: 12px;
  text-transform: uppercase;
}

.feedback-form input[type="text"],
.feedback-form select,
.feedback-form textarea {
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
  border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #8d745a;
}

.checkbox-area {
  border-bottom: 1px solid #d5d5d5;
}

/*PAGE FOOTER*/

.page-footer {
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer-top {
	display: flex;
	justify-content: space-between;

	margin-bottom: 45px;
}

.footer-middle {
	display: flex;

	padding-top: 50px;
	margin-bottom: 50px;
}

.footer-bottom {
	display: flex;
	padding-top: 50px;

}

.footer-middle,
.footer-bottom {
  border-top: 1px solid #5e5e5e;
}

.footer-menu {
	width: 150px;
	margin-right: 20px;
}

.footer-menu h3 {	
  font-weight: bold;
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu a {
  color: #c3c3c3;
  text-decoration: none;
}

.footer-menu a:hover {
  color: #ffffff;
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social b {
  font-weight: bold;
  font-size: 24px;
  font-family: "Georgia", serif;
  color: #a38b70;
}

.social-btn {
  color: #ffffff;
}

.footer-copyright {
	margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: rgba(255, 255, 255, 0.3);
}


